.two-columns-layout {
  display: grid;
  overflow: hidden;
  height: calc(100vh - 60px); /* we remove 60px from the header*/
  grid-template-columns: minmax(0, 1fr) clamp(500px, 68vw, 5000px);
  grid-template-rows: auto 1fr;
  background: var(--background-color);
}

.two-columns-layout-reversed {
  display: grid;
  overflow: hidden;
  height: calc(100vh - 60px); /*100vh means 100% of the viewport height */
  grid-template-columns: clamp(500px, 68vw, 1000px) minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  background: var(--background-color);
}

/* IMAGE */

.col-image {
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  grid-row: 1;
  grid-column: var(--image-column);
  z-index: 1;
}

@media (max-width: 700px) {
  .col-image {
    opacity: 0;
  }

}


/* TEXT */

.col-text {
  min-height: 100vh;
  grid-row: 1;
  grid-column: var(--text-column);
  position: relative;
  background: var(--background-color);
  border-radius: 8px;
  z-index: 1;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    var(--background-color) 40px,
    var(--background-color) calc(100% - 40px),
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--background-color) 40px,
    var(--background-color) calc(100% - 40px),
    transparent
  );
}
