.col-image img {
  position: absolute;
  left: var(--zero-reverse);
  right: var(--one-reverse);
  bottom: var(--zero-reverse);
  top: var(--one-reverse);
  width: auto;
  height: auto;
  object-fit: contain;
  z-index: 3;
}

img.denissow\.png {
  width: 620px;
}

img.st-exupery\.png {
  width: 525px;
}
