/* =========================
   LAYOUT
   ========================= */

.one-column-layout {
  display: grid;

  /*
   * La colonne image garde sa largeur.
   * La colonne texte prend tout le reste.
   */
  grid-template-columns: minmax(400px, 45%) minmax(0, 1fr);

  min-height: calc(100vh - 60px);

  box-sizing: border-box;

  background: var(--background-color);
  overflow: hidden;
}


/* =========================
   IMAGE + TITRE
   ========================= */

.one-col-media {
  min-width: 0;

  padding:20px;

  display: flex;
  flex-direction: column;
  align-items: center;

}


/* Le titre est juste au-dessus de l'image */

.one-col-title {
  color: var(--text-color);
}


/* Conteneur de l'image */

.one-col-image-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;

  overflow: hidden;

  background: var(--img-bg-color);

  border: 5px solid #7d7575;
  border-radius: 8px;

  box-sizing: border-box;
}


/* L'image garde son ratio naturel */

.one-col-image {
  display: block;
  

  width: auto;
  height: auto;

  max-width: 100%;
  max-height: calc(100vh - 160px);

  object-fit: contain;
}


/* =========================
   TEXTE
   ========================= */

.one-col-text {
  min-width: 0;
  min-height: 0;

  position: relative;

  background: var(--background-color);
  color: var(--text-color);

  border-radius: 8px;

  overflow-y: auto;
}


/* =========================
   MOBILE
   ========================= */

@media (max-width: 768px) {

  .one-column-layout {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    height: auto;

    overflow: visible;
  }


  /* IMAGE EN PREMIER */

  .one-col-media {
    width: 100%;
  }


  .one-col-title {
    margin-bottom: 15px;
  }


  .one-col-image-wrapper {
    width: 100%;
  }


  .one-col-image {
    width: auto;
    max-width: 100%;
    max-height: none;

    height: auto;
  }


  /* DESCRIPTION SOUS L'IMAGE */

  .one-col-text {
    width: 100%;
    min-height: auto;
    overflow: visible;
  }
}