
.page {
  position: relative;
  width: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: stretch;

  background: var(--background-color);
  color: var(--text-color);

  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

.mobile-title {
  display: none;
}

.img-wrapper {
  width: fit-content;
  height: fit-content;

  margin: 80px 20px 20px 40px;
  
  background-color: var(--img-bg-color);
  border: 3px solid #7d7575;
  border-radius: 8px;
  overflow: hidden;
}

.illustration {
  display: block;
  width: auto;
  max-height: 90dvh;
  max-width: 100%;
}

.box-wrapper {
  z-index: 1;

  padding: 35px 30px 30px 40px;

  width: 75%;
  height: 100dvh;

  overflow-y: auto;
  scrollbar-width: none;
  overscroll-behavior: auto;
  scroll-behavior: auto;
}

.box-wrapper::-webkit-scrollbar {
  display: none;
}

.text-illus-content-box {
  width: 100%;

  background: var(--background-color);
  color: var(--text-color);
}


@media (max-width: 800px) {

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
  }

  .mobile-title {
    display: block;
    order: 1;
    width: 100%;
    
    padding: 60px 25px 20px;

    background: var(--background-color);
    color: var(--text-color);
  }

  .img-wrapper {
    display: block;
    position: relative;
    order: 2;

    height: auto;
    overflow: visible;

    margin: 10px 20px 0px 20px;
  }

  .box-wrapper {
    order: 3;

    width: 100%;
    min-height: auto;
    overflow-y: visible;
    height: auto;

    margin: 0;
  }

  .text-illus-content-box {
    width: 100%;
    min-width: 0;

    padding: 0px 0px 20px 0px;

    box-sizing: border-box;

    background: var(--background-color);
    color: var(--text-color);
  }

  .text-illus-content-box .title {
    display:none
  }
}



